@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-man-rope : "Manrope", sans-serif; 
  --font-inter : "Inter", sans-serif;
  --color-white-200: #F9F9F9;
  --color-black :  #202020;
  --color-success-400 :  #0F973D;
  --color-gray-100: #DADCE0;
  --color-gray-300: #838383;
  --color-gray-400: #5E5E5E;
  --color-burnt-orange : #FF9152;
  --color-pr3: #F9F6FF;
  --color-pr2: #454ADE;
}

